.main-wrapper {
  margin-top: 8vh;
  padding-bottom: 50px;
}

.main-container .form-body {
  text-align: center;
  margin-top: 50px;
}

.main-container h2 {
  display: block;
  margin-top: 8vh;
  font-size: 2rem;
  text-align: center;
}
.score-list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #222222;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  max-width: 80vw;
}

.table-head {
  font-size: 1.4rem;
  color: greenyellow;
}

#scores td {
  padding: 5px;
  border: 2px solid white;
  min-width: 80px;
  text-align: center;
}

.score-list table {
  border-spacing: 0;
  max-width: 80%;
}

#scores tr:first-child {
  color: lightseagreen;
}
